<div class="row align-items-center dip-h-30">
  <div class="col-sm-9 mx-auto mx-auto align-items-center">
    <div class="input-group">
      <input id="current_student" type="text" class="form-control dip-text-lg p-3 text-center" placeholder="Load/create a course and click the arrow." disabled>
      <div class="input-group-append">
        <button class="input-group-text text-success" id="next">
          <i class="far fa-3x fa-arrow-alt-circle-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row dip-h-30 w-100" style="margin: auto">
  <div class="col-sm-2 mx-auto">
    <div class="grade-selector">
  		<input type="radio" name="grade" id="correct" value="correct" />
  		<label class="select correct mx-auto" for="correct"></label>
  	</div>
  </div>
  <div class="col-sm-2 mx-auto">
  	<div class="grade-selector">
  		<input type="radio" name="grade" id="absent" value="absent" />
  		<label class="select absent mx-auto" for="absent"></label>
  	</div>
  </div>
  <div class="col-sm-2 mx-auto">
  	<div class="grade-selector">
  		<input type="radio" name="grade" id="incorrect" value="incorrect" />
  		<label class="select incorrect mx-auto" for="incorrect"></label>
  	</div>
  </div>
</div>
